## Deliverable 2

### Provide format for customer filter that allows them to narrow their travel searches based on temperature and precip.

In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

# Import the API key.

from config import g_key

# Configure gmaps

gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_Database.csv file.

city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,ushuaia,AR,-54.8000,-68.3000,35.26,60,0,8.05,clear sky,0.00,0.0
1,1,mataura,NZ,-46.1927,168.8643,48.47,98,100,4.83,light rain,0.86,0.0
2,2,trelew,AR,-43.2490,-65.3051,37.96,51,2,14.76,clear sky,0.00,0.0
3,3,hobyo,SO,5.3505,48.5268,80.83,65,77,30.76,broken clouds,0.00,0.0
4,4,talavera de la reina,ES,39.9635,-4.8308,99.88,10,8,3.00,clear sky,0.00,0.0

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain (inches)          float64
Snow (inches)          float64
dtype: object

In [4]:
# Step 2 Write two input statements that prompt the user to enter their minimum and maximum temperature 
# criteria for their vacation.

min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?85

In [5]:
# Step 3, use the loc method to filter the city_data_df DF for temp criterial collected  
# in Step 2 then create a new DataFrame.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
3,3,hobyo,SO,5.3505,48.5268,80.83,65,77,30.76,broken clouds,0.00,0.0
8,8,caucaia,BR,-3.7361,-38.6531,79.03,63,20,16.11,few clouds,0.00,0.0
10,10,muros,ES,42.7762,-9.0603,78.67,76,16,9.78,few clouds,0.00,0.0
12,12,shakhtinsk,KZ,49.7100,72.5872,77.58,39,95,10.00,overcast clouds,0.00,0.0
23,23,nago,JP,26.5881,127.9761,84.63,88,100,13.60,overcast clouds,0.00,0.0
29,29,kapaa,US,22.0752,-159.3190,79.12,80,100,14.97,overcast clouds,0.00,0.0
34,34,mon,IN,26.7500,95.1000,76.96,96,58,0.85,broken clouds,0.00,0.0
36,36,santa rosa,PH,14.3122,121.1114,80.58,87,95,3.24,heavy intensity rain,4.34,0.0
41,41,kloulklubed,PW,7.0419,134.2556,77.50,75,100,4.50,overcast clouds,0.00,0.0
42,42,baisha,CN,26.5222,110.9311,77.70,97,100,2.55,light rain,0.75,0.0

In [6]:
# 4a & b  Determine if there are na's and drop na's.

preferred_cities_df.count()

City_ID                178
City                   178
Country                177
Lat                    178
Lng                    178
Max Temp               178
Humidity               178
Cloudiness             178
Wind Speed             178
Current Description    178
Rain (inches)          178
Snow (inches)          178
dtype: int64

In [7]:
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
3,3,hobyo,SO,5.3505,48.5268,80.83,65,77,30.76,broken clouds,0.0,0.0
8,8,caucaia,BR,-3.7361,-38.6531,79.03,63,20,16.11,few clouds,0.0,0.0
10,10,muros,ES,42.7762,-9.0603,78.67,76,16,9.78,few clouds,0.0,0.0
12,12,shakhtinsk,KZ,49.7100,72.5872,77.58,39,95,10.00,overcast clouds,0.0,0.0
23,23,nago,JP,26.5881,127.9761,84.63,88,100,13.60,overcast clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
559,559,doume,CM,4.2333,13.4500,75.27,75,100,2.86,overcast clouds,0.0,0.0
565,565,carutapera,BR,-1.1950,-46.0200,82.47,70,19,9.51,few clouds,0.0,0.0
567,567,laredo,US,27.5064,-99.5075,79.09,83,0,9.22,clear sky,0.0,0.0
573,573,dingle,PH,10.9995,122.6711,76.05,93,100,2.57,overcast clouds,0.0,0.0
576,576,bhusawal,IN,21.0500,75.7667,75.16,94,100,15.99,overcast clouds,0.0,0.0

In [8]:
preferred_cities_df.count()

City_ID                177
City                   177
Country                177
Lat                    177
Lng                    177
Max Temp               177
Humidity               177
Cloudiness             177
Wind Speed             177
Current Description    177
Rain (inches)          177
Snow (inches)          177
dtype: int64

In [9]:
# 5a Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# 5b Create new column "Hotel Name"

hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng', 'Current Description']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
3,hobyo,SO,80.83,5.3505,48.5268,broken clouds,
8,caucaia,BR,79.03,-3.7361,-38.6531,few clouds,
10,muros,ES,78.67,42.7762,-9.0603,few clouds,
12,shakhtinsk,KZ,77.58,49.7100,72.5872,overcast clouds,
23,nago,JP,84.63,26.5881,127.9761,overcast clouds,

In [10]:
# 6a-f. Set parameters to search for hotels with 5000 meters.

params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

# Iterate through.
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f'{lat},{lng}'
    
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except IndexError:
        print('Hotel not found... skipping...')

Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...
Hotel not found... skipping...

In [16]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
3,hobyo,SO,80.83,5.3505,48.5268,broken clouds,Iftin hotel hobyo
8,caucaia,BR,79.03,-3.7361,-38.6531,few clouds,M.O.S. Logística - Filial Fortaleza
10,muros,ES,78.67,42.7762,-9.0603,few clouds,Apartment Av. Castelao
12,shakhtinsk,KZ,77.58,49.7100,72.5872,overcast clouds,Orifleym
23,nago,JP,84.63,26.5881,127.9761,overcast clouds,Hotel Yugaf Inn Okinawa

In [12]:
# 8a and 8b

output_data_file = 'WeatherPy_Vacation.csv'

hotel_df.to_csv(output_data_file, index_label='City_ID')

In [13]:
vacation_df = pd.read_csv('WeatherPy_Vacation.csv')

vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,3,hobyo,SO,80.83,5.3505,48.5268,broken clouds,Iftin hotel hobyo
1,8,caucaia,BR,79.03,-3.7361,-38.6531,few clouds,M.O.S. Logística - Filial Fortaleza
2,10,muros,ES,78.67,42.7762,-9.0603,few clouds,Apartment Av. Castelao
3,12,shakhtinsk,KZ,77.58,49.7100,72.5872,overcast clouds,Orifleym
4,23,nago,JP,84.63,26.5881,127.9761,overcast clouds,Hotel Yugaf Inn Okinawa

In [14]:
# Using the template add the hotel marks to the heatmap

info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
'''
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[['Lat', 'Lng']]

In [15]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))